div.Welcome {
    float: left;
    margin-top: 8%;
    margin-left: 2%;
    width: 27%;
    font-size: x-large;
    color:#000000;
}

div.footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(233, 122, 233);
    color: white;
    margin-top: 38.23%;
    margin-left: -2.16%;
    width: 102.25%;
    height: 10%;
    opacity: 0.5;
    z-index: -1;
  }
  p.text {
    opacity: 1;
    margin-top: -2.9%;
    margin-left: -1.8%;
    z-index: 1;
    position: relative;
  }
  @keyframes color {
    0%   { background: #33CCCC; }
    20%  { background: #33CC36; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #33CCCC; }
  }
  
  body {
    background: #33CCCC; /* Fallback */
    animation: color 9s infinite linear;
    text-align: center;
  }
  img {
    width: 75%;
  }